<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="file"
		class="org.apache.log4j.DailyRollingFileAppender"><!-- 하루에 한번씩 파일을 저장해주겠다.  -->
		<param name="File" value="c:/log/debug.log" /> <!-- 파일은 만들어 주는데 폴더는 생성안해주니 만들어야한다.  -->
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] %d %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.user.mag">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans"> <!-- 빈으로만들어져 있어서 mybatis 설정을 하지않아도 log를 찍을수있다. -->
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root> <!-- TRACE 하위에 있는것을 모두 찍겠다. -->
	<!-- 선택해서 찍을수있다.각각의 roglevel로 인해서 -->
		<priority value="TRACE" /> <!-- 가장 큰범위, 다른것은 Mybatis가 찍히지 않아서  -->
		<appender-ref ref="console" />
		<appender-ref ref="file"/>
	</root>
	
</log4j:configuration>
